.service-name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.service-img{
    height: 40px;
    width: 50px;
}
.service-info{
    margin-left: 10px;
}
.btnOperate{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    color: white;
    background-color: #1890ff;
}