.card-name-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-img{
    height: 26px;
    width: 40px;
}
.card-info{
    margin-left: 10px;
}
.btnOperate{
    width: 50px;
}