.h-service-div{
  
}
.h-service-add-service{
  float: left;
}
.action-line {
  height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.choice-line{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.dropmenu{
  margin-right: 10px;
}
.show{
  display: block;
}
.hide{
  display: none;
}


